/*global styles, typography*/
/*tailwind import*/

@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@theme {
  --font-sans: "Plus Jakarta Sans","Inter", system-ui, sans-serif;


  --color-bg: #e6dcff;
  --color-bg-card: #ffffff;
  
  --color-primary-300: #C79AF5;
  --color-primary-400: #9D63C9;
  --color-primary-500: #7A3E9D;

  --color-primary-hover: #693587;

  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #F5F5F8;
  --color-neutral-300: #E5E5E5;

  --background-image-gradient-primary: linear-gradient(90deg, #7A3E9D 0%, #C79AF5 100%);

  --radius-box: 14px;
  --radius-btn: 16px;
}

html, body {
  @apply h-full w-full antialiased text-gray-900 bg-bg font-sans;
}

#root {
  @apply h-full w-full;

  font-family: var(--font-sans);
  background-color: var(--color-bg-main);
  color: #1A1A1A;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar*/
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { @apply bg-gray-300 rounded-full; }


.bg-gradient-primary {
  background: linear-gradient(90deg, #7A3E9D 0%, #C79AF5 100%);
}

/* Hide the default eye icon in Edge/IE */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/*global reset*/


/* src/index.css */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.bg-gradient-primary {
  background: linear-gradient(90deg, #7A3E9D 0%, #C79AF5 100%);
}
